@font-face {
  font-family: 'Euclid Circular';
  src: local('Euclid Circular Regular'), local('Euclid-Circular-Regular'),
      url('./fonts/EuclidCircularA-Regular.woff2') format('woff2'),
      url('./fonts/EuclidCircularA-Regular.woff') format('woff'),
      url('./fonts/EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  line-height: 1;
  background: #F5F5F5;
  color: #050A1B;
  font-family: "Euclid Circular", Arial, sans-serif;
}

/*=== WRAPPER ===*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*=== CONTAINER ===*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/*=================================*/
.header{
  margin-top: 16px;
}

.header__nav{
  padding: 0 16px 0 29px;
}

.header__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
}

@media (max-width: 767.98px){
  .header__link{
    font-size: 16px;
  }
}
@media (max-width: 619px){
  .header__link{
    font-size: 14px;
    line-height: 120%;
  }
}

.header__arrow{
  width: 6px;
  height: 12px;
}

@media (max-width: 619px){
  .header__back{
    display: none;
  }
}
.header__button{
  border: 2px solid #F5F5F5;
  padding: 13px 28px;
  background: inherit;
}

.header__button:hover{
  color: #0432D3;
  border: 2px solid #0432D3;
}

.header__title{
  max-width: 632px;
  margin: 32px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header__image{
  width: 80px;
  height: 4px;
}

.header__text{
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
}


@media (max-width: 767.98px){
  .header__text{
    font-size: 24px;
  }
}

@media (max-width: 619px){
  .header__text{
    font-size: 22px;
  }
}

.header__subtext{
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
}

@media (max-width: 619px){
  .header__subtext{
    font-size: 13px;
  }
}

/* === CARD SECTION === */

.card{
  padding: 0 20px;
  margin: 52px auto;
  max-width: 632px;
  width: 100%;
}

.card__title{
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
}

.card__chip{
  position: relative;
  z-index: 5;
}

.card__form{
  position: relative;
  z-index: 5;

  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.card__label{
  display: flex;
  flex-direction: column;
  gap: 6px;

  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.card__input{
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #050A1B;
  background: #F2F5FC;
  padding: 0 10px;
}

.card__input:focus{
  outline-color: #0432D3;
}

.card__block{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card__input_number{
  max-width: 404px;
}

@media (max-width: 619px){
  .card__input_number{
    max-width: 299px;
  }
}

.card__input_name{
  width: 289px;
}
@media (max-width: 619px){
  .card__input_name{
    max-width: 184px;
  }
}

.card__input_date{
  width: 86px;
}
@media (max-width: 619px){
  .card__input_date{
    max-width: 99px;
  }
}

.card__input_kod{
  width: 90px;
}

.card__label_right{
  margin-left: 38px;
}

@media (max-width: 619px){
  .card__label_right{
    margin-left: 200px;
    margin-top: 30px;
  }
}

.card__rectangle_one{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.card__rectangle_two{
  position: absolute;
  z-index: 2;
  bottom: -40px;
  right: 0;
}

.card__exclamation{
  display: flex;
  align-items: center;
  gap: 2px;
}

.card__icon {
  width: 18px;
  height: 18px;

  cursor: pointer;
}

/* Modal window */
.card__modal{
  display: none;
  position: absolute;
  right: -38px;
  top: -20px;
}

.card__icon:hover ~ .card__modal{
  display: block;
}

@media (max-width: 619px){
  .card__modal{
    position: absolute;
    left: 154px;
    top: 108px;
  }
}

.modal__text{
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 20px;
  max-width: 125px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

@media (max-width: 619px){
  .modal__text{
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
/* Modal window */

/* === FOOTER === */

.footer__content{
  position: relative;
  max-width: 632px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 32px auto;
}

.footer__title{
  display: flex;
  align-items: center;

}
@media (max-width: 619px){
  .footer__title{
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;
  }
}

.footer__button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 28px;
  background: #0432D3;
  color: #FFFFFF;

  cursor: pointer;
}

.footer__pay{
  display: flex;
  gap: 20px;
  right: 0;
  padding-left: 255px;
}

@media (max-width: 619px){
  .footer__pay{
    padding-left: 0;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #595C67;
}

@media (max-width: 619px){
  .footer__text {
    position: absolute;
    top: 50px;
  }
}